/*basic reset*/
* {margin: 0; padding: 0;}

html, body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	background-color: #3c657e;
	background-size: cover;
	height: 100%;
	line-height: 1.8;
	background-position: center;
}

.logo img {
	margin-left: 100px;
	width: 150px;
	height: 150px;
	background: none;
}

.site-footer {
	height: 10%;
	background: #3c3f42;
	position: relative;
	display: block;
}

.navBar {
	max-width: 1200px;
	margin: auto;
}

.main-nav {
	float: right;
	list-style: none;
	top-margin: 30px;
}

.main-nav li {
	display: inline-block;
	margin-top: 15px;
}

.main-nav a {
	color: black;
	text-decoration: :none;
	padding:5px 20px;
	font-size: 15px;
}

.main-nav li.active a {
	border: 1px solid black;
}

.main-nav li a:hover {
	border: 1px solid black;
	background-color: #2e75b6;
	transition: all 0.5s ease-in;
	text-decoration: none;
	color: white;
	border-radius: 5px;
}

.logo img {
	float: left;
}

.wrapper {
	margin-top: 10%;
	margin-bottom: 22.9%;
	margin-left: 25%;
	margin-right: 19%;
	display: inline-block;
	min-height: 25%;
	width: 25%;
}
.form-register {
	max-width: 400px;
	padding: 2% 5% 5%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-register .form-register-heading,
.form-register .checkbox {
	margin-bottom: 40px;
}
.form-register .checkbox {
	font-weight: normal;
}
.form-register .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-register .form-control:focus {
	z-index: 3;
}
.form-register input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-register input[type="password"] {
	margin-bottom: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-register input[type="cpass"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.recover {
	height: auto;
	float: right;

}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.error{
	color:red;
}
.copyright {
	width: 20%;
	position: absolute;
	bottom: 0%;
	display: block;
	border: 1px solid white;
	margin-left: 0.5%;
	border-radius: 0.4%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.copyright:hover {
	background:#888e99;
}

.copyright p {
	color: #fff;
	line-height: 100%;
	font-size: 0.7em;
	text-align: center;
}

/*------------------------------*/
/* Social Icons CSS starts here */
/*------------------------------*/
.socialIcons {
	float: right;
	margin-right: 0.5%;
	margin-top: 0%;
	margin-left: 0.5%;
	padding-right: 0.5%;
	padding-left: 0.5%;
}

.socialIcons:hover {
	background: #888e99;
	border-radius: 4%;
	padding-bottom: 7%;
}

.socialIcons p {
	text-align: center;
	color: white;
}

.socialIcons ul {
	list-style: none;
}

/*To spread icons wider, set their width and height*/
.socialIcons ul li {
	width: 30px; /*width of the circle around icons*/
	height: 30px; /*height of the circle around icons*/
	line-height: 1px; /*line height of the circle around icons*/
	margin: 0 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%; /*To set radius around the icons, decreasing the value makes radius a square, increasing a circle*/
	border: 2px solid #fff; /*To set border around icons and their color*/
	float: left;
}

/*Style the icons and set their color to white, margin-top value to 20px to align them properly*/
.socialIcons ul li .fa {
	color: #fff;
	margin-top: 7px; /*Align the icons properly inside the circle*/
	transition: all 0.5s ease;
}

/*Style hover function using nth-child (1) - Facebook, (2) - twitter etc.*/
/*box shadow effect is used to border and text-shadow effect to icons for glowing effect*/
/*and use transition property for smooth transition effect*/
/*Facebook*/
.socialIcons ul li:hover:nth-child(1) {
	border: 2px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
}

.socialIcons ul li:hover .fa-facebook {
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5s ease;
}

/*Twitter*/
.socialIcons ul li:hover:nth-child(2) {
	border: 2px solid #00aced;
	box-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
}

.socialIcons ul li:hover .fa-twitter {
	color: #00aced;
	text-shadow: 0 0 15px #00aced;
	transition: all 0.5s ease;
}

/*Instagram*/
.socialIcons ul li:hover:nth-child(3) {
	border: 2px solid #517fa4;
	box-shadow: 0 0 15px #517fa4;
	transition: all 0.5s ease;
}

.socialIcons ul li:hover .fa-instagram {
	color: #517fa4;
	text-shadow: 0 0 15px #517fa4;
	transition: all 0.5s ease;
}

/*Google+*/
.socialIcons ul li:hover:nth-child(4) {
	border: 2px solid #dd4b39;
	box-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
}

.socialIcons ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all 0.5s ease;
}

.socialIcons ul li:hover .fa-whatsapp {
	color: #64D448;
	text-shadow: 0 0 15px #64D448;
	transition: all 0.5s ease;
}
/*End of Social Media Icons CSS*/
/*------------------------------*/
